<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>First player:</strong>
  <%= @team.first_player %>
</p>

<p>
  <strong>Second player:</strong>
  <%= @team.second_player %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
