<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @round.name %>
</p>

<p>
  <strong>Round type:</strong>
  <%= @round.round_type %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @round.tournament %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
