<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status_type %><br>
    <%= f.text_field :status_type %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
