<!DOCTYPE html>
<html>
<head>
  <title>TableFootball</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="table_football">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "TableFootball", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right" >
          <% if user_signed_in? %>
            <li><%= link_to 'Tournaments', tournaments_path %><li>
            <li><%= link_to 'Teams', teams_path %></li>
            <li><%= link_to 'Rounds', rounds_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= "#{current_user.fullname}" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <li><a href="" ng-controller="AuthCtrl" ng-click="log_out()">Logout</a></li>
                </li>
              </ul>
            </li>
          <% else %>
            <li><a class="btn btn-default" href="#/auth/login" target="_self">Login</a></li>
            <li><a class="btn btn-default" href="#/auth/signup" target="_self">Sign Up</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a class="btn btn-primary" href='#/tournaments/new' target="_self">New tournament</a></li>
        <li><a class="btn btn-primary" href='#/tems/new' target="_self">Create tems</a></li>
      </ul>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="alert" ng-show="flash.getMessage()">
        <b>Alert!</b>
        <p>{{flash.getMessage()}}</p>
      </div>
      <div class="main-view-container" ui-view></div>
    </div>
  </div>
</body>
</htloml>